.import-file-input input {
  padding: 5px !important;
}
.meal-card-image img {
  height: 240px !important;
}

.meal-modify-btn svg {
  font-size: 13px;
  margin-right: 5px;
  margin-bottom: -1px;
}
.mealCardHeader {
  padding: 10px 10px;
  text-align: center;
  background: #a6aebf;
  border-radius: 0.28571429rem 0.28571429rem 0 0;
}
