.profileHeader img {
  height: 237px;
  width: 241px;
}
.profileDetails svg {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.profileUploadBtn {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: flex;
  background: rgb(209, 209, 209);
  height: 25px;
  width: 25px;
  border-radius: 5px;
  cursor: pointer;
}
.profileUploadBtn svg {
  align-self: center;
}
.changePassBtn {
  margin-left: 10px !important;
}

@media only screen and (max-width: 370px) {
  .changePassBtn {
    margin-left: 0px !important;
    margin-top: 10px !important;
  }
}
