.roleDesign {
  padding: 6px 12px;
  border-radius: 13px;
  width: 50px;
}
.adminRole {
  background-color: #21ba45 !important;
  color: white !important;
}
.userRole {
  background-color: #d01919 !important;
  color: white !important;
}
.managerRole {
  background-color: #fbbd08 !important;
  color: white !important;
}
